*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

@import './blocs/fonts';
@import './blocs/variables';
@import './blocs/mixin';
body{
    overflow-x: hidden;
    font-family: $main-font;
    background-color: $bg-color;
    color:$white-color;
}
@import './blocs/container';
@import './blocs/navbar';
@import './blocs/hero';
@import './blocs/trending';
@import './blocs/creators';
@import './blocs/categories';
@import './blocs/discover';