@font-face {
    font-family:  'Work Sans Regular', sans-serif;
    src: url(../fonts/WorkSans-Regular.ttf);
}
@font-face {
    font-family: 'Work Sans Bold', sans-serif;
    src: url(../fonts/WorkSans-SemiBold.ttf);
}
@font-face {
    font-family: 'Space Mono Bold', monospace;
    src: url(../fonts/SpaceMono-Bold.ttf);
}
@font-face {
    font-family: 'Space Mono Regular', monospace;
    src: url(../../fonts/SpaceMono-Regular.ttf);
}