$main-font:'Work Sans Regular', sans-serif;
$title-font:'Work Sans Bold', sans-serif;
$info-font:'Space Mono Bold', monospace;
$button-bg-color:#A259FF;
$white-color:#FFFFFF;
$bg-second-color:#3B3B3B;
$bg-color:#2B2B2B;